/*=============================================>>>>>
= CSS Variables =
===============================================>>>>>*/
/*----------- COLORS -----------*/
/*----------- FONTS -----------*/
/*----------- SIZES -----------*/
/*= End of CSS Variables =*/
/*=============================================<<<<<*/
body {
  font-family: Verdana, Arial, sans-serif;
  color: #373d3f;
}

h1, h2, h3, h4 {
  font-family: "Palatino Linotype", Georgia, serif;
}

p {
  font-family: Verdana, Arial, sans-serif;
}

a {
  color: #ef8641;
}

#header {
  height: 60px;
  background: #0786a0;
}

#header #main-menu li {
  display: inline;
}

#header #main-menu a {
  color: white;
}

#main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  height: 90px;
  background-color: #aebe37;
}
