/*=============================================>>>>>
= CSS Variables =
===============================================>>>>>*/

/*----------- COLORS -----------*/
$text-color: #373d3f;
$theme-color: #0786a0;
$secondary-color: #ef8641;
$ternary-color: #aebe37;
$link-color: $secondary-color;
$menu-item-color: white;

/*----------- FONTS -----------*/
$text-font: Verdana, Arial, sans-serif;
$headline-font: 'Palatino Linotype', Georgia, serif;

/*----------- SIZES -----------*/
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;

/*= End of CSS Variables =*/
/*=============================================<<<<<*/
